
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
.Footer {
  width: 100%;
  bottom: 0%;
  /* retirar absolute apos container */
  position:absolute;
  display: flex;
  text-align: center;
  justify-content: center;
  border:none;
  background-color: #C882B4; 
  font-family: 'Montserrat', sans-serif;
}
.Footer p{
    width: auto;
    color:white;
}
