
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');

.container-max {
    width: 100%;
    height: 100%;
    display: flex;
}
.half {
    width: 50%;
}
.half img {
    width: 980px;
    height: 100%;
    overflow: hidden;
}
.half.screen {
    background-color: #FBE9F6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.half.screen img {
    width: 200px;
    height: 200px;
}
form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;

}
p {
    font-family: 'Montserrat', sans-serif;
    color: #C882B4;
}

input {
    height: 45px;
    border-color: #C882B4;
    border-width: 2px;
    outline: 0;
}
.button-submit {
    padding: 0;
    margin: 0;
    border: 0;
    margin-top: 30px;
    margin-left: 30%;
    width: 150px;
    background-color: #C882B4;
    border-radius: 5px;
    color: #ffffff;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
}
.textLogin {
    color: #707070;
}
.login {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.Link {
    text-decoration: none;
    color: inherit;
    color: #BA66A3;
    font-weight: 500;
    
}